<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início</title>
    <link rel="stylesheet" href="../style/inicio.css">
</head>
<body>
    <div class="container">
        <div class="menu">
            <img src="../images/stocksync.jpg" alt="logo do sistema" class="logo_sistema">
            <nav>
                <a href="">CADASTRAR ITEM</a>
                <a href="">ATUALIZAR ITEM</a>
                <a href="">CONSULTAR ITEM</a>
                <a href="">EXCLUIR ITEM</a>
            </nav>
        </div>
        <div class="inicio">
            <section class="avisos">
                <div class="campos_avisos">
                    <img src="../images/icone_alerta.png" alt="icone de alerta">
                    <article>
                        <h2>ITENS ACABANDO</h2>
                        <p>TEXTO</p>
                    </article>
                </div>
                <div class="campos_avisos">
                    <img src="../images/icone_alerta.png" alt="icone de alerta">
                    <article>
                        <h2>DATA VALIDADE EXPIRANDO</h2>
                        <p>TEXTO</p>
                    </article>
                </div>
            </section>
            <section class="">
                <h2></h2>
                <div class="relatorios_container">
                    <article class="relatorios" >
                        <h2></h2>
                        <p></p>
                    </article>
                    <article class="relatorios" >
                        <h2></h2>
                        <p></p>
                    </article>
                    <article class="relatorios" >
                        <h2></h2>
                        <ul></ul>
                    </article>
                    <article class="relatorios" >
                        <h2></h2>
                        <ul></ul>
                    </article>
                </div>
            </section>
        </div>
    </div>
</body>
</html>