body{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

header{
    display: flex;
    position: fixed;
    top:0;
    left: 0;          
    z-index: 1000;
    width: 100%;      
    background-color: #003735;
}

img{
    margin-left: 30px;
    margin-top: 10px;
    width: 60px;
    height: 60px;
}

header h2{
    margin-left: 39%;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;   
}

form {
    margin-left: 20%;
    margin-top: 8%;
    display: flex;
    flex-direction: column;
}


label{
    color: #f5f5f5;
    padding: 5px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #003735;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

input{
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    width: 300px;
    height: 35px;
}

.div_peso{
    display: flex;
    justify-content: space-around;
}

.peso_input{
    width: 100px;
}

.peso_label{
background-color: white;
}
.div_button{
    display: flex;
    justify-content: space-around;
}

button{
    border: none;
    border-radius: 10px;
    width: 153px;
    height: 35px;
    margin-top: 5%;
    margin-bottom: 3%;
    background-color: gray;
    font-size: 20px;
    color: black;
}

button:hover{
    color: whitesmoke;
    background-color: #003735;
}

.notificacao{
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    background-color: rgb(179, 179, 4);
    padding: 10px;
    border-radius: 10px;
}

.div_tabelas{
    margin: auto;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
}

table{
    border-collapse: collapse;
}

thead {
    gap: 10px;
}
thead th {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    background-color: #003735;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

tbody td {
    border: 1px solid black;
    padding: 10px;
    font-size: 20px;
    background-color: rgb(196, 196, 196);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 40px;
    font-size: 30px;
    text-align: center;
}

.sair{
    border: none;
    border-radius: 10px;
    width: 153px;
    height: 35px;
    margin-top: 30px;
    margin-left: 41%;
    background-color: gray;
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding: auto;
}

.sair:hover{
    color: whitesmoke;
    background-color: #003735;
}
